.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
    background: #FFFFFF;
    border: 0.5px solid #CDCDCD;
    border-radius: 8px;
    font-size: 14px;
}

.card-body:hover{
    border: 0.5px solid #ED5517;
}

.card-body.done{
    border: 1px solid #0A0A0C;
}