@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.cards-container {
    width: 845px;
    height: 561px;
    margin: auto;
    margin-top: 68px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 25px;
    padding: 5px;
}